@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* Light Mode Styles */
.light-mode {
  background-color: #f0f0f0;
  color: #000;
}

.light-mode .button,
.light-mode .App-header {
  background-color: #e0e0e0;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #1c1c1c;
  color: #fff;
}

.dark-mode .button,
.dark-mode .App-header {
  background-color: #333;
}

.App {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-header {
  background-color: inherit;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navigation for Desktop */
.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Button Styles */
.button {
  background-color: transparent;
  color: inherit;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  transition: color 0.3s ease, font-weight 0.3s ease, background-color 0.3s ease;
  width: 150px;
}

.button:hover {
  color: #00c8ff;
  font-weight: bold;
  transform: scale(1.10);
}

.button:active {
  font-weight: bold;
  transform: scale(0.95);
}

.content {
  padding: 40px;
  transition: background-color 0.3s ease;
}

/* --- Mobile Styles --- */

/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center; /* Align everything in the middle */
  position: absolute; /* Make it a dropdown by positioning it absolutely */
  top: 60px; /* Position the menu below the header */
  left: 0;
  right: 0;
  background-color: inherit;
  z-index: 10; /* Ensure it appears on top */
}

.mobile-menu.open {
  display: flex; /* Show the dropdown when open */
}

@media (max-width: 600px) {
  .nav-buttons {
    display: none; /* Hide normal nav buttons on mobile */
  }

  .hamburger {
    display: block; /* Show hamburger menu on mobile */
  }

  .App-header {
    justify-content: flex-start;
    position: relative;
    height: 40px;
  }
}
